* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #292929;
}

.item-input-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 6px;

  .item-input {
    outline: none;
    font-size: 18px;
    padding: 0.5rem 1rem;
    min-width: 18.5rem;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2px;
    display: flex;
    margin: 1rem 0;
    color: rgb(60, 60, 60);

    direction: rtl;
  }

  .plus-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #91aaff;
    transition: 0.2s;

    &:hover {
      transform: translateY(2px);
    }
  }
}

.item-list {
  width: 22rem;
  min-height: 18rem;
  padding: 0.6rem;
  background-color: #91aaff;
  margin: 2rem auto;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  direction: rtl;

  .item-preview {
    h3 {
      cursor: pointer;
      display: inline-block;

      &.marked {
        text-decoration: line-through 2px;
      }
    }
  }
}
